html, body{ margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 62.5%;
}


body{ padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      background-color: red;
    }
body div{ height: 60rem;
          width: 100%;
            
}
 
section div{
            background-color: blue;
            margin-top: 10rem;
            position: relative;
            border: sold;
            border-radius: 20%;
}

.center{ margin:0 auto;
        display: block;
        text-align: center;}

.dot{ display: block;
      background-color: white;
      height: 20rem;
      width: 20rem;
      border-radius: 10rem;
      top: 500%;}
head{ 
    
}

header{
     
} 

Main{ padding: 0;
      margin: 0; 
      width: 90%;
      height: 90%;
      background-color: white;
      text-align: center;
    
          
      }