html, body{ margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 62.5%;
}

body{ padding: 0;
      margin: 0;
      height: 100%;
      background-color: red;
    }

body div{ height: 60rem;    
}
 
section div{
            background-color: blue;
            margin-top: 15px;
            position: relative;
            border: sold;
            border-radius: 10%;
            width: 15rem;
            height: 15rem;
    
}

.face{ margin:0 auto;
       display: block;
       text-align: center;
        }

.faceone{ margin:0 auto;
          display: block;
          text-align: center;}

.facetwo{ margin:0 auto;
          display: block;
          text-align: center;}

.facethree{ margin:0 auto;
            display: block;
            text-align: center; 
    
}
.dot{ display: inline-block;
      background-color: yellow;
      height: 5rem;
      width: 5rem;
      border-radius: 5rem;
    }


.top-left{ display: inline-block;
           background-color: white;
           height: 5rem;
           width: 5rem;
           border-radius: 10rem;
           float: left;
          }

.bottom-left{background-color: white;
             height: 5rem;
             width: 5rem;
             float: left;
             border-radius: 15rem;
             top: 75%;}
